<!DOCTYPE html>
<html lang="en">
<head>
  <title>MTAAC annotation dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/eel.js"></script>
  <script>
	eel.expose(reload);
	function reload() {
		window.location.reload(true);
	};
	$(document).ready(function() {
		$( "#dir" ).click(function() {
			eel.open_dir();
		});
		$( "#CDLI_page" ).click(function() {
			eel.open_page();
		});
		$( "#push" ).click(function() {
			eel.convert_and_push();
		});
	});
  </script>
  <style>
  </style>
</head>
<body>
<div class="container-fluid">
<h3>Hi, {{ username }}!</h3>
<h4>you are working on text <span id="textID">{{ textID }}</span>.<h4>
<h4>you can open it <a href="" id="dir">locally</a> or view its <a href="" id='CDLI_page'>CDLI page</a>.<h4>
<h4>The annotation is ready and free of errors? Click to upload it to the Github repo:<h4>
<button type="button" class="btn btn-primary" id="push">Upload text</button>
</div>
</body>
</html>
