<!DOCTYPE html>
<html lang="en">
<head>
  <title>MTAAC annotation dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/eel.js"></script>
  <script>
	eel.expose(reload);
	function reload() {
		window.location.reload(true);
	};
	async function errors_feedback() {
		let errors = await eel.check_for_errors()();
		$("#errors_check").attr("style", "display:none");
		if (errors=="clean"){
			$("#errors_detected").attr("style", "display:none");
			$("#no_errors").attr("style", "");
		}
		else {
			$("#errors_list").html(errors);
			$("#errors_detected").attr("style", "");
		};
	};
	$(document).ready(function() {
		$( "#dir" ).click(function() {
			eel.open_dir();
		});
		$( "#CDLI_page" ).click(function() {
			eel.open_page();
		});
		$( "#check_1, #check_2" ).click(function() {
			errors_feedback();
		});
		$( "#push_1, #push_2" ).click(function() {
			eel.correct_and_push();
		});
	});
  </script>
  <style>
  </style>
</head>
<body>
<div class="container-fluid">
	<h3>Hi, {{ username }}!</h3>
	<h4>you are working on text <span id="textID">{{ textID }}</span>.</h4>
	<h4>you can open it <a href="" id="dir">locally</a> or view its <a href="" id='CDLI_page'>CDLI page</a>.</h4>
	<br>
	<div id='errors_check'>
		<h4>The annotation is ready? Check it for errors.</h4>
		<button type="button" class="btn btn-primary" id="check_1">Check</button>
	</div>
	<div id='errors_detected' style="display:none">
		<h4>Your file contains the following errors:</h4>
		<div id='errors_list'></div>
		<h4>Please, correct them and try again</h4>
		<button type="button" class="btn btn-danger" id="push_1">Upload text anyways</button>
		<button type="button" class="btn btn-primary" id="check_2">Check again</button>
	</div>
	<div id="no_errors" style="display:none">
		<h4>The annotation is free of errors. Click to upload it to the Github repo:</h4>
		<button type="button" class="btn btn-primary" id="push_1">Upload text</button>
	</div>
</div>
</body>
</html>
