<!DOCTYPE html>
<html lang="en">
<head>
  <title>MTAAC annotation dashboard</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/eel.js"></script>
  <script>
	eel.expose(reload);
	function reload() {
		window.location.reload(true);
	};
	eel.expose(login_error);
	function login_error() {
		alert("Incorrect Github username or password. Please, try again.");
		/* $(".form-group").attr("class", "form-group has-error");
		$('#login_error').attr("style", "");*/
	};
	$(document).ready(function() {
		$( "#login" ).click(function() {
			console.log($("#github_username"), $("#github_password"));
			var form_dict = {"username": $("#github_username")[0].value, "password": $("#github_password")[0].value}
			var form_dict_JSON = JSON.stringify(form_dict);
			eel.github_login(form_dict_JSON);
		});
	});
  </script>
  <style>
  </style>
</head>
<body>
<div class="container-fluid">
<h1>Github login data</h1>
<form id="form" data-bind="true">
	<div class="form-group">
		<label for="github_username">Username:</label>
		<input type="text" id="github_username" autocomplete='name' name="username" required>
	</div>
	<div class="form-group">
		<label for="github_password">Password:</label>
		<input type="password" id="github_password" autocomplete="password" name="password" required>
		<span class="help-block" style="display:none" id="login_error">Incorrect Github username or password. Please, try again.</span>
	</div>
    <button id="login" type="submit" class="btn btn-default">Login</button>
</form>
</div>
</div>
</body>
</html>
